body{
    background-color: rgb(5, 91, 166);
}
#title{
    font-size: 8em;
    text-align: center;
    padding-top: 30px;
}
#links{
    text-align: center;
}
#me{
    border: 20px solid #3737c2;
    border-radius: 150%;
    overflow: hidden;
    height: 1250px;
    width: 938px;
}
#info{
    font-size: 6em;
    border: 20px solid #3737c2;
    border-radius: 22px;
    width: 70%;
    position: absolute;
    top: 23%;
    left: 20%;
    padding-left: 2%;
    padding-right: 2%;
}
#mediv{
    padding-left: 3%;
}
table{
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-left: 2%;
}
.work{
    width: 1188px;
    height: 566px;
}
.all{
    width: 1375px;
    height:1375px;
    background-color: rgb(69, 142, 117);
    border: solid green;
    border-radius: 50px;
    border-left-width: 25px;
    padding-left: 1%;
}
.all >h3{
    font-size: 6em;
}
.all >a{
    font-size: 4em;
}
.all >p{
    font-size: 5em;
}

