body{
    background-color: rgb(5, 91, 166);
}
#title{
    font-size: 3em;
    text-align: center;
    padding-top: 5px;
}
#links{
    text-align: center;
}
#me{
    border: 10px solid #3737c2;
    border-radius: 150%;
    overflow: hidden;
    height: 312.5px;
    width: 234.5px;
}
#info{
    font-size: 1.5em;
    border: 10px solid #3737c2;
    border-radius: 22px;
    width: 70%;
    position: absolute;
    top: 35%;
    left: 22%;
    padding-left: 2%;
    padding-right: 2%;
}
#mediv{
    padding-left: 3%;
}
table{
    height: 125px;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-left: 2%;
}
.work{
    width: 297px;
    height: 141.5px;
}
.all{
    width: 343.75px;
    height: 343.75px;
    background-color: rgb(69, 142, 117);
    border: solid green;
    border-radius: 50px;
    padding-left: 1%;
}
.all >h3{
    font-size: 1.7em;
}
.all >p{
    font-size: 1.2em;
}


